<div class="center">
<h1>L O G I N</h1>

<%= form_tag "/login", method:  :post do %>
  <div>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <%= submit_tag "Login" %>
<% end %>
<br>
<h3> New Around Here? </h3>
<%= form_tag "/signup", method: :get do %>
  <%= submit_tag "Create Account" %>
<% end %>
</div>