<h1>Your Brew</h1>

<h2><%= @recipe.name %> - <%= @recipe.style %></h2>

<h3>Ingredients:</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.ingredient_name %> - <%= ingredient.weight %> <%= ingredient.measurement %></li>
  <% end %>
</ul>

<h3>Instructions:</h3>
<ul>
  <li><%= @recipe.boil_time %> min boil</li>
</ul>

<%= form_tag '/brews', method: :post do %>
  <%= hidden_field_tag :recipe_id, @recipe.id %>
  <div>
    <%= label_tag :notes %>
    <%= text_area_tag :notes, '', placeholder: "Add brew notes" %>
  </div>
    <div>
    <%= label_tag :original_gravity %>
    <%= text_field_tag :original_gravity %>
  </div>
  <div>
    <%= label_tag :final_gravity %>
    <%= text_field_tag :final_gravity, '', placeholder: "Add after fermenting" %>
  </div>
  <%= submit_tag "Finish brew" %>
<% end %>