<h1 class="header-text form_center">Your Brew</h1>

<h2><%= @recipe.name %> - <%= @recipe.style %></h2>

<div id="hidden" hidden>
 <%= @recipe.mash_duration %>
</div>

<div class="col-md-6 well"><h3>Ingredients:</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <div class="col-md-6">
      <li><%= ingredient.category %> | <%= ingredient.ingredient_name %> - <%= ingredient.weight %> <%= ingredient.measurement %></li>
    </div>
  <% end %>
</ul>
</div>

<div class="col-md-6"><h3>Instructions:</h3>
<ul>
  <li><%= @recipe.boil_time %> min boil</li>
</ul>
</div>

<div class="col-md-12" ng-app="app">
  <div ng-controller="appCtrl">
    <div class="col-md-12" id="container" style="width:100%; height:400px;">
    <script>
    $(document).ready(function() {
          Highcharts.setOptions({
              global: {
                  useUTC: false
              },
              plotOptions: {
                  spline: {
                      connectNulls: true
                  }
              }
          });
      
          var chart;
          chart = new Highcharts.Chart({
              chart: {
                  renderTo: 'container',
                  type: 'line',
                  marginRight: 10,
                  events: {
                      load: function() {
                        var series = this.series[0];
                            
                        setInterval(function() {
                          $.get("https://api.particle.io/v1/devices/360041000a47353138383138/brew_tmp?access_token=4652099c02c9beddddfbf6ff7f74ebd88c02825b", function(data) {  
                            var temp = parseFloat(data["result"]);
                            var x = (new Date()).getTime(),
                                y = temp;
                            series.addPoint([x,y], true, false);
                          });
                        }, 5000);
                      }
                  }
              },
              title: {
                  text: 'Brew Temperature'
              },
              xAxis: {
                  type: 'datetime',
                  tickPixelInterval: 150
              },
              yAxis: {
                  title: {
                      text: 'Temp (°F)'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  formatter: function() {
                          return '<b>'+ this.series.name +'</b><br/>'+
                          Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                          Highcharts.numberFormat(this.y, 2);
                  }
              },
              legend: {
                  enabled: false
              },
              exporting: {
                  enabled: false
              },
              series: [{
                  name: 'Brew Temp',
                  data: []
              }]
          });
      });
          
    </script>
  </div>

    <div class="container col-md-12">
    <button ng-click="startTimer()">Start Mash</button>
    <br>
    <div class="progress">
      <div class="progress-bar progress-bar-success" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ progressCount }}%">{{ Math.round(progressCount)}}%</div>
    </div>
    </div>
    <div class="container col-md-12">
    <button ng-click="startBoil()">Start Hop Boil</button>
    <br>
    <div class="progress">
      <div class="progress-bar progress-bar-success" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ boilProgress }}%">{{ boilProgress}}%</div>
    </div>
    </div>


<div class="container form_center col-md-12 well">
<%= form_tag '/brews', method: :post do %>
<%= hidden_field_tag :recipe_id, @recipe.id %>
  <div>
   <%= label_tag :text %>
   <%= text_area_tag :text, '', placeholder: "Add brew notes", size: "100x10" %>
  </div>
  <div>
    <%= label_tag :original_gravity %>
    <%= text_field_tag :original_gravity %>
  </div>
  <%= submit_tag "Finish brew" %>
<% end %>
  </div>
</div>

