<h1>Your Brew</h1>

<h2><%= @recipe.name %> - <%= @recipe.style %></h2>

<div id="hidden" hidden>
 <%= @recipe.mash_duration %>
</div>

<div class="col-md-6"><h3>Ingredients:</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.ingredient_name %> - <%= ingredient.weight %> <%= ingredient.measurement %></li>
  <% end %>
</ul>
</div>

<div class="col-md-6"><h3>Instructions:</h3>
<ul>
  <li><%= @recipe.boil_time %> min boil</li>
</ul>
</div>

<div ng-app="app">
  <div ng-controller="appCtrl">
  <button ng-click="addTemp()">Get Temp</button>
  <p>{{ message }}</p>
    <div class="col-md-12" id="container" style="width:100%; height:400px;">
    <script>
    var chart;
    chart = new Highcharts.chart('container', {
          chart: {
              type: 'line'
          },
          title: {
              text: 'Brew Temperature'
          },
          xAxis: {
              categories: []
          },
          yAxis: {
              title: {
                  text: 'Temperature (°F)'
              }
          },
          plotOptions: {
              line: {
                  dataLabels: {
                      enabled: true
                  },
                  enableMouseTracking: false
              }
          },
          series: [{
              name: 'BrewTemp',
              data: [3.9, 4.2, 5.7, 8.5]
          }]
      });
    </script>
  </div>

    <div class="container">
    <button ng-click="startTimer()">Start Mash</button>
    <br>
    <div class="progress">
      <div class="progress-bar progress-bar-success" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_count }}%"></div>
    </div>
    </div>

<div class="container">
<%= form_tag '/brews', method: :post do %>
<%= hidden_field_tag :recipe_id, @recipe.id %>
  <div>
   <%= label_tag :text %>
   <%= text_area_tag :text, '', placeholder: "Add brew notes", size: "35x10" %>
  </div>
  <div>
    <%= label_tag :original_gravity %>
    <%= text_field_tag :original_gravity %>
  </div>
  <%= submit_tag "Finish brew" %>
<% end %>
  </div>
</div>
</div>

