<div>
  <h1 class="header-text center"><%= @brew.recipe.name %></h1>
  <h2 class="center"><%= @brew.recipe.style %> brewed on <%= @brew.created_at.strftime("%b %d, %Y") %></h2>

</div>

<div class="well col-md-6">
  <h2>Ingredients list:</h2>
    <% if @brew.recipe.ingredients %>
      <% @brew.recipe.ingredients.each do |ingredient| %>
        <h3><%= ingredient.category %> | <%= ingredient.ingredient_name %> - <%= ingredient.weight %> <%= ingredient.measurement %> </h3>
        <% if current_user && current_user.id == @brew.recipe.user_id %>
        <% end %> 
      <% end %>
    <% end %>

</div>
<div class="col-md-6">
  <h2>Brew Notes:</h2>
  <% if @brew.notes %>
    <% @brew.notes.each do |note| %>
      <p><%= note.text %> | <%= note.created_at.strftime("%b %d, %Y") %></p>
    <% end %>
  <% end %>
  <%= render '/notes/new' %>
</div>

<div class="col-md-12 space"></div>

<div class="well col-md-12 center">
<%= form_tag "/brews/#{params[:id]}", method: :patch do %>
  <div>
    <%= label_tag :original_gravity %>
    <%= text_field_tag :original_gravity, @brew.original_gravity %>
  </div>
  <div>
    <%= label_tag :final_gravity %>
    <% if @brew.final_gravity %>
    <%= text_field_tag :final_gravity, @brew.final_gravity %>
    <% else %>
    <%= text_field_tag :final_gravity, '', placeholder: "Add after fermenting" %>
    <% end %>
  </div>

<%= submit_tag 'Save All Changes' %>
<% end %>
</div>