<li>
<div > 
  <h4 ><%= comment.user.username %>: </h4>
  <p class="comment"> <%= comment.text %> </p>
</div>

<button ng-click="showHide(<%= comment.id %>)">Reply</button>
<div ng-show="checkHidden(<%= comment.id %>)">

<%= form_tag "/comments/#{comment.id}/comments", method: :post do %>
  <div>
    <%= text_area_tag :text, '', placeholder: "Add a comment", cols: 25, rows: 3 %>
  </div>
    <%= submit_tag "Post Reply" %>
<% end %>
</div>


 <ul> <%= render partial: "comments/new", collection: comment.comments, as: :comment %> </ul>

 </li>
