<div class="index">
<div ng-app="app">
<div ng-controller="appCtrl">
</div>
  <h1 class="title-text header-text">RECIPES</h1>
</div>


<section class="module-small p-t-20 p-b-0 p-t-sm-0">

      <div class="container hidden-xs">

        <!-- PORTFOLIO FILTER -->
        <div class="row">
          <div class="col-sm-12">

            <ul id="filters" class="filter font-inc">
              <li><a href="#" data-filter="*" class="current wow fadeInUp">All</a></li>
              <li><a href="#" data-filter=".ipa" class="wow fadeInUp" data-wow-delay="0.2s">IPA</a></li>
              <li><a href="#" data-filter=".blonde" class="wow fadeInUp" data-wow-delay="0.4s">Blonde</a></li>
              <li><a href="#" data-filter=".pale, .ipa" class="wow fadeInUp" data-wow-delay="0.6s">Pale Ale</a></li>
              <li><a href="#" data-filter=".stout" class="wow fadeInUp" data-wow-delay="0.8s">Stout</a></li>
            </ul>

          </div>
        </div>
        <!-- /PORTFOLIO FILTER -->

      </div>

      <!-- PORTFOLIO LIST -->
      <ul id="works-grid" class="works-grid works-grid-masonry works-grid-3 works-hover-w">

        <!-- PORTFOLIO ITEMS -->
  <% @recipes.each do |recipe| %>
        <li class="work-item <%= recipe.style.downcase %>">
          <a href="/recipes/<%= recipe.id%>">
            <div class="work-image">
              <img src="<%= recipe.image_url %>" alt="">
            </div>
            <div class="work-caption">
              <h3 class="work-title font-alt"><%= recipe.name %></h3>
              <div class="work-descr font-inc">
                <%= recipe.style.downcase %>
              </div>
            </div>
          </a>
        </li>
  <% end %>
        <!-- /PORTFOLIO ITEMS -->

      </ul>
      <!-- /PORTFOLIO LIST -->

    </section>
    <!-- /PORTFOLIO -->
    </div>