<div>
  <h1><%= @recipe.name %></h1>
  <h2><%= @recipe.style %></h2>
  <p>--------------------</p>
  <br>
  <h2>Boil time: <%= @recipe.boil_time %> min.</h2>
  <h2>Batch Size: <%= @recipe.batch_size %></h2>
  <h2>IBU: <%= @recipe.ibu %></h2>
  <p>--------------------</p>
</div>

<% if current_user && current_user.id == @recipe.user_id %>
<div class="col-md-4">
  <div>
    <%= render "ingredients/new" %>
  </div>
<% end %>
  <div>
  <%= form_tag "/recipes/#{@recipe.id}/brews/new", method: :get do %>
    <%= submit_tag "Start a Brew!" %>
  <% end %>
  <br>
    <%= form_tag "/recipes/#{@recipe.id}/edit", method:  :get do %>
      <%= submit_tag "Edit Recipe Details" %>
    <% end %>
  </div>

  <%= form_tag "/recipes/#{@recipe.id}", method:  :delete do %>
    <%= submit_tag "Delete Recipe" %>
  <% end %>
</div>

<div class="col-md-8">
  <h2>Ingredients list:</h2>
    <% if @ingredients %>
      <% @ingredients.each do |ingredient| %>
        <h3><%= ingredient.ingredient_name %> - <%= ingredient.weight %> <%= ingredient.measurement %> </h3>
        <%= form_tag "/ingredients/#{ingredient.id}", method: :delete do %>
          <%= submit_tag "Remove" %>
        <% end %> 
      <% end %>
    <% end %>
    <br>
</div>

<div><p>---------------</p></div>

<div class="left">
  <h2>Comments <%= render "comments/new" %></h2>
  <br>
    <% @comments.each do |comment| %>
      <p><%= comment.user.username %></p>
      <p class="comment"><%= comment.text %></p>
      <br>
  <% end %>
</div>