<div class="title-text space">
  <h1 class="header-text"><%= @recipe.name %></h1>
    <h4>-<%= @recipe.style %>-</h4>
</div>
<div class="space center">
      <%= form_tag "/recipes/#{@recipe.id}/brews/new", method: :get do %>
        <%= submit_tag "Start a Brew!" %>
      <% end %>
</div>

<div class="col-md-4 center">
  <h3 class="bold">BOIL TIME</h3> <h3> <%= @recipe.boil_time %> min </h3>
</div>

<div class="col-md-4 center">
  <h3 class="bold">BATCH SIZE</h3> <h3> <%= @recipe.batch_size %></h3>
</div>

<div class="col-md-4 center space">
  <h3 class="bold">IBU</h3> <h3><%= @recipe.ibu %></p></h3>
</div>

  <% if current_user && current_user.id == @recipe.user_id %>
<div class="well col-md-12 center">
    <%= render "ingredients/new" %>
  <% end %>
<br>

  <% if current_user && current_user.id == @recipe.user_id %>
    <%= form_tag "/recipes/#{@recipe.id}/edit", method:  :get do %>
      <%= submit_tag "Edit Recipe Details" %>
    <% end %>
    <%= form_tag "/recipes/#{@recipe.id}", method:  :delete do %>
      <%= submit_tag "Delete Recipe" %>
    <% end %>
  <% end %>
</div>

<div class="col-md-12 space">
  <h1 class="header-text title-text center">Ingredient List</h1>
    <% if @ingredients %>
      <% @ingredients.each do |ingredient| %>
      <div class="col-md-6">
        <h3><%= ingredient.category %> | <%= ingredient.ingredient_name %> - <%= ingredient.weight %> <%= ingredient.measurement %> </h3>
        <% if current_user && current_user.id == @recipe.user_id %>
          <%= form_tag "/ingredients/#{ingredient.id}", method: :delete do %>
            <%= submit_tag "Remove" %>
          <% end %>
        <% end %> 
        </div>
      <% end %>
    <% end %>
</div>

<div class="well col-md-12" ng-app="app" ng-controller="appCtrl">
  <h2 class="header-text">Comments</h2>

  <%= form_tag "/recipes/#{@recipe.id}/comments", method: :post do %>
  <div>
    <%= text_area_tag :text, "", placeholder: "Add a comment", cols: 25, rows: 3 %>
  </div>
    <%= submit_tag "Post Comment" %>
  <% end %>

  <ul> <%= render partial: "comments/new", collection: @recipe.comments, as: :comment %> </ul>

</div>
<br>