<h1><%= @recipe.name %></h1>
<h2><%= @recipe.style %></h2>
<p>--------------------</p>
<br>
<h2>Boil time: <%= @recipe.boil_time %></h2>
<h2>Batch Size: <%= @recipe.batch_size %></h2>
<h2>IBU: <%= @recipe.ibu %></h2>