<div>
  <h1><%= @recipe.name %></h1>
  <h2><%= @recipe.style %></h2>
  <p>--------------------</p>
  <br>
  <h2>Boil time: <%= @recipe.boil_time %> min.</h2>
  <h2>Batch Size: <%= @recipe.batch_size %></h2>
  <h2>IBU: <%= @recipe.ibu %></h2>
  <p>--------------------</p>
</div>

<div class="col-md-4">
  <% if current_user && current_user.id == @recipe.user_id %>
    <%= render "ingredients/new" %>
  <% end %>
<br>

  <% if current_user && current_user.id == @recipe.user_id %>
    <%= form_tag "/recipes/#{@recipe.id}/edit", method:  :get do %>
      <%= submit_tag "Edit Recipe Details" %>
    <% end %>
    <%= form_tag "/recipes/#{@recipe.id}", method:  :delete do %>
      <%= submit_tag "Delete Recipe" %>
    <% end %>
  <% end %>

  <%= form_tag "/recipes/#{@recipe.id}/brews/new", method: :get do %>
    <%= submit_tag "Start a Brew!" %>
  <% end %>
</div>

<div class="col-md-8">
  <h2>Ingredients list:</h2>
    <% if @ingredients %>
      <% @ingredients.each do |ingredient| %>
        <h3><%= ingredient.category %> | <%= ingredient.ingredient_name %> - <%= ingredient.weight %> <%= ingredient.measurement %> </h3>
        <% if current_user && current_user.id == @recipe.user_id %>
          <%= form_tag "/ingredients/#{ingredient.id}", method: :delete do %>
            <%= submit_tag "Remove" %>
          <% end %>
        <% end %> 
      <% end %>
    <% end %>
</div>
<br>

<div><p>---------------</p></div>


<div class="col-md-12" ng-app="app" ng-controller="appCtrl">
  <h2>Comments</h2>

  <%= form_tag "/recipes/#{@recipe.id}/comments", method: :post do %>
  <div>
    <%= text_area_tag :text, "", placeholder: "Add a comment", cols: 25, rows: 3 %>
  </div>
    <%= submit_tag "Post Comment" %>
  <% end %>

  <ul> <%= render partial: "comments/new", collection: @recipe.comments, as: :comment %> </ul>

</div>
<br>