<div>
  <h1><%= @recipe.name %></h1>
  <h2><%= @recipe.style %></h2>
  <p>--------------------</p>
  <br>
  <h2>Boil time: <%= @recipe.boil_time %> min.</h2>
  <h2>Batch Size: <%= @recipe.batch_size %></h2>
  <h2>IBU: <%= @recipe.ibu %></h2>
  <p>--------------------</p>
</div>

<div class="col-md-4">
  <% if current_user && current_user.id == @recipe.user_id %>
    <%= render "ingredients/new" %>
  <% end %>
<br>

  <% if current_user && current_user.id == @recipe.user_id %>
    <%= form_tag "/recipes/#{@recipe.id}/edit", method:  :get do %>
      <%= submit_tag "Edit Recipe Details" %>
    <% end %>
    <%= form_tag "/recipes/#{@recipe.id}", method:  :delete do %>
      <%= submit_tag "Delete Recipe" %>
    <% end %>
  <% end %>

  <%= form_tag "/recipes/#{@recipe.id}/brews/new", method: :get do %>
    <%= submit_tag "Start a Brew!" %>
  <% end %>
</div>

<div class="col-md-8">
  <h2>Ingredients list:</h2>
    <% if @ingredients %>
      <% @ingredients.each do |ingredient| %>
        <h3><%= ingredient.category %> | <%= ingredient.ingredient_name %> - <%= ingredient.weight %> <%= ingredient.measurement %> </h3>
        <% if current_user && current_user.id == @recipe.user_id %>
        <%= form_tag "/ingredients/#{ingredient.id}", method: :delete do %>
          <%= submit_tag "Remove" %>
          <% end %>
        <% end %> 
      <% end %>
    <% end %>
</div>
<br>

<div><p>---------------</p></div>

<div class="col-md-12" ng-app="app" ng-controller="appCtrl">
  <h2>Comments <%= render "comments/new" %></h2>
  <br>
    <% @comments.each do |comment| %>
      <p><%= comment.user.username %></p>
      <p class="comment"><%= comment.text %></p>
          <p ng-click="showHide(<%= comment.id %>)">Reply</p>
            <div ng-show="checkHidden(<%= comment.id %>)">
              <%= form_tag "/comments", method: :post do %>
                  <%= hidden_field_tag :commentable_type, "Comment" %>
                  <%= hidden_field_tag :commentable_id, comment.id%>
                  <%= hidden_field_tag :recipe_id, @recipe.id %>
                <div>
                  <%= text_area_tag :text, '', placeholder: "Add a comment", cols: 25, rows: 3 %>
                </div>
                  <%= submit_tag "Post Comment" %>
              <% end %>
              <br>
            </div>
      <p><% comment.comments.each do |comment_reply| %></p>
        <p class="replyuser"><%= comment_reply.user.username %>:</p>
        <div class="reply">
        <p><%= comment_reply.text %></p>
        </div>
        <p  class="replyuser" ng-click="showHide(<%= comment_reply.id %>)">Reply</p>
            <div ng-show="checkHidden(<%= comment_reply.id %>)">
              <%= form_tag "/comments", method: :post do %>
                  <%= hidden_field_tag :commentable_type, "Comment" %>
                  <%= hidden_field_tag :commentable_id, comment_reply.id%>
                  <%= hidden_field_tag :recipe_id, @recipe.id %>
                <div>
                  <%= text_area_tag :text, '', placeholder: "Add a comment", cols: 25, rows: 3 %>
                </div>
                  <%= submit_tag "Post Comment" %>
              <% end %>
              <br>
            </div>
              <% comment_reply.comments.each do |comment_reply_2|%>
                <p><%= comment_reply_2.user.username %></p>
                <p class="comment"><%= comment_reply_2.text %></p>
              <% end %>
      <% end %>
  <% end %>
</div>